@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

:root {
    --google-font-roboto-mono: "Roboto Mono", sans-serif;
    --google-font-raleway: "Raleway", sans-serif;
    --google-font-pt-sans: "PT Sans", sans-serif;
    --google-font-lora: "Lora", sans-serif;
    --google-font-roboto-condensed: "Roboto Condensed", sans-serif;
    --google-font-source-sans-pro: "Source Sans Pro", sans-serif;
    --system-font: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    background: #eee;
}

h1 {
    text-align: center;
}

footer a {
    color: #000;
}

.main {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 2rem;
    padding-right: 2rem;
}

.toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #111;
    background: #333;
    color: #fff;
}

.toolbar div {
    display: flex;
    align-items: center;
    padding: 5px;
}

.toolbar div p {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 5px;
}

.toolbar .preview div p {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 10px;
}

#maximize-editor:hover {
    color: turquoise;
    cursor: pointer;
}

#maximize-preview:hover {
    color: turquoise;
    cursor: pointer;
}

.editor-component {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.editor-component textarea {
    border: 1px solid #111;
    width: 100%;
    height: 350px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    outline: none;
    resize: vertical;
    font-family: var(--system-font);
}

.preview-component {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 950px;
    min-width: 0;
    border: 1px solid #111;
    padding: 15px;
    background: #fff;
    font-family: var(--system-font);
    margin-bottom: 40px;
    overflow: hidden;
}

.preview-component p {
    font-size: 1rem;
    line-height: 1;
}

.preview {
    display: flex;
    font-size: 1rem;
}

pre {
    background: #f7f7f7;
    overflow: auto;
    max-width: 100%;
    width: 100%;
    padding: 12px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 3px;
}

code {
    background: #f7f7f7;
    margin: auto;
    padding: 3px;
}

blockquote {
    background: #eee;
    border-left: 3px solid #111;
}

blockquote p {
    padding-left: 10px;
    padding-right: 10px;
}

a {
    color: #2981F9;
}

a:hover {
    cursor: pointer;
}

.large-window {
    margin-left: auto;
    margin-right: auto;
}

.cover-window {
    height: 100vh !important;
    margin-bottom: 20px;
}

.hidden {
    display: none
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 5rem;
}

footer .footer-links {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 1rem;
}

footer .footer-links a i {
    padding: 0 1rem 0 1rem;
    color: #000;
}

footer .footer-links .social-link i {
    padding: 0 1rem 0 1rem;
    color: #000;
}
